@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8E8E8;
}


.logo {
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(left, #BE4C1F, #D0A138);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

/* navbar Start*/

.navBlur {
    backdrop-filter: blur(10px) !important;
    transition-duration: 2s;
}

.navBlack {
    background-color: black;
}

.hoverNav {
    color: #DBDBDB;
}

.hoverNav:hover {
    color: #FFED50;
}


/* navbar End */


/* Hero section start */
.hero {
    height: 100vh;
    width: 100%;
    background: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroSpace{
    height: 100vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}


/* Hero section end */

@media (max-width: 1060px) {}

@media (max-width: 630px) {}
