@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: #E8E8E8;
}

.myBtn {

  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 2; /* Make sure it does not overlap */
  border: 1px solid black; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 100px; /* Rounded corners */
  text-decoration:none;
  color:black;
  opacity:85%;
  display:none;
  justify-content: center;
  
}

.myBtn:hover{
    transition: 0.5s;
    color:white;
    background-color:black;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
a {text-decoration: none; background-color: none; }

.gradient {
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(left, #BE4C1F, #D0A138);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonMenu{
    color: #ffffffe8;
    background-color: #990a05;
}
.buttonMenu:hover{
    transition: 2s;
    color: #ffffff;
    background-color: #B20701;
}
.fontTebal {
    font-family: 'Lato', sans-serif;
}

.fontTipis {

    font-family: 'Roboto', sans-serif;
}

.sectionSpace{
    margin-top: 50px;
}
/* navbar Start*/

.navBlur {
    backdrop-filter: blur(10px) !important;
    transition-duration: 2s;
}


.fixed{
    position: fixed;
    width: 100%;
    display: block;
}

.dynamic{
    background-color: black;
    position: fixed;
    top:0px;
    transition: 1s;
}


.hoverNav {
    color: #DBDBDB;
}

.hoverNav:hover {
    color: #FFED50;
}


/* navbar End */

/* ! HOMEBLADE.PHP START */
/* Hero section start */

/* hero font */

.heroParagraph {
    color: #FFED50;
}

.btn-merah {
    transition: 1.2;
    color: #ffffffe8;
    background-color: #990a05;
}

.btn-merah:hover {
    transition: 1.2s;
    color: #ffffff;
    background-color: #B20701;
}

.heroBackground{
    background-color: black;

}
.hero {
    position: relative;
}

.hero::before{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
     opacity: 95%;
    height: 100vh;
    width: 100%;
    background: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    filter: brightness(45%)
}

.heroSpace {

    height: 100vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Hero section end */

/* Service Section Start */
.backgroundService{
    background-color: #A6320E !important;
}
.warnaFontService{
    color: #FFFFFF;
}
/* Hero Service Section End */

/* Service Section End */


/* section menu */
.backgroundOurSpecialMenu{
    background-color: #E8E8E8;
}

.textColourOurSpecialMenu{
    color: #BE4C1F;
}

.menuColorText{
    opacity:85%;
    border-radius:15px;
    padding:5px;
    background-color:black;
}
/* section menu End */

/* Hero Partner Start */
.backgroundPartner{
    background-color: #E8E8E8;
}

.textColourPartner{
    color: #BE4C1F;
}
/* Hero Partner End */

/* Hero Contact Start */
.dotContact {
    background: white;
    border-radius: 100% !important;
  }

.backgroundContact{
    padding:0px;
    background-color: #1A1618;
}

.textColourContact1{
    color: #FFFFFF;
}

.textColourContact2{
    color: #BE4C1F;
}
/* Hero Contact End */
/* ! HOMEBLADE.PHP END */
/* section Our special menu End */

/* service home */
.dot {
    padding: 15px;
    background: black;
    border-radius: 100% !important;
    display: inline-block;
  }
  /* end service home */


  /* SECTION footer start */
.footerWhite{
    color: rgb(151, 151, 151);
}

.footerWhite:hover{
    transition: 1.1s;
    color: white;
}
  /* SECTION footer end */
/* ! HOMEBLADE.PHP END */


/* !menu.blade.php start */
.card-size{
    width: 80%;
}

/* truncate deskrisi */
.text-short-container {
    text-align: justify;
}
.text-short-container p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card{
    transition: 4s;
    box-shadow: 0 0 11px rgba(33,33,33,.1);
}
.card:hover{
    transition: 2s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transform: all .3s ease-in-out time;
    -moz-transform: all .3s ease-in-out time;
    -ms-transform: all .3s ease-in-out time;
    -o-transform: all .3s ease-in-out time;
    transition: all .3s ease-in-out time;
    box-shadow: 0 10px 11px rgba(33,33,33,.2);
}
/* !menu.blade.php end */





@media (max-width: 1060px) {

    /* ! HOMEBLADE.PHP START */
    /* Hero section start */
    #showHeroMobile {
        display: block !important;
    }

    #showHeroDekstop {
        display: none;
    }

    /* Hero section end */
    /* ! HOMEBLADE.PHP END */

}

@media (max-width: 768px) {
      /* ! HOMEBLADE.PHP START */
    /* Hero section start */
    #showHeroMobile {
        display: block !important;
    }

    #showHeroDekstop {
        display: none;
    }
    .footerHide{
        display: none;
    }
     /* Hero section end */
    /* ! HOMEBLADE.PHP END */


     /* ! MENU.PHP START */
     /* card text start */
    .cardHeadText{
        padding:0px;
        font-size:15px;
    }
    .cardParagraphText{
        padding:0px;
        font-size:10px;
    }
     /* card text end */
     /* ! MENU.PHP END */
}
